{% include 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <center><h5>Modifier Evenement</h5></center>
<div style="width:50%; margin-left:auto; margin-right:auto;">
     {{ include('categorierec/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
    {# <td>
    <a href="{{ path('app_evenement') }}" class="btn btn-primary px-3 py-1">Retour</a>
</td> #}
    
{% endblock %}
