<h1>Hi! Veillez confimer votre Email!</h1>

<p>
    Veillez confimer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bienvenu  dans Bledi ! Nous vous attendons avec impatience 
</p>
