<form method="post" action="{{ path('app_idee_delete', {'idIdee': idee.idIdee}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idee.idIdee) }}">
    <button class="btn">Delete</button>
</form>