{% extends 'base.html.twig' %}

{% block title %}New Municipaties{% endblock %}

{% block body %}
    <h1>Create new Municipaties</h1>

    {{ include('municipaties/_form.html.twig') }}

    <a href="{{ path('app_municipaties_index') }}">back to list</a>
{% endblock %}
