<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouveau don effectué</title>
</head>
<body>
    <h1>Nouveau don effectué</h1>
    <p>Un nouveau don a été effectué :</p>
    <ul>
        <li>Montant : {{ don.montant }}</li>
        <li>Date : {{ don.date }}</li>
        <!-- Ajoutez d'autres informations sur le don ici -->
    </ul>
</body>
</html>
