<form method="post" action="{{ path('app_utilisateur_delete', {'cin': utilisateur.cin}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.cin) }}">
    <button class="btn btn-danger">Delete</button>
</form>
