<nav class="sidebar sidebar-offcanvas" id="sidebar" style="min-height: calc(100vh - 36px); background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="index.html">
      <img src="{{asset('/images/logo.png')}}" alt="logo" style="width: 130px; height: 85px;" />
    </a>


    <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="{{asset('/images/logo-mini.svg')}}" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-profile" style="margin-top: 70px;">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="{{asset('/images/faces/face1.jpg')}}" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3">
          <span class="font-weight-medium mb-2" style="color: white">Welcome Admin</span>
          <span class="font-weight-normal" style="color: white">100.500Dt</span>
        </div>
        <span class="badge badge-danger text-white ml-3 rounded">3</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-home menu-icon" style="color: white"></i>
        <span class="menu-title " style="color: white">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="#" >
        <i class="mdi mdi-account-multiple menu-icon" style="color: white"></i>
        <span class="menu-title" style="color: white">Utilisateurs</span>
      </a>

    </li>
   <li class="nav-item">
    <a class="nav-link" href="/municipaties/">
        <i class="mdi mdi-home-modern menu-icon" style="color: white"></i>
        <span class="menu-title" style="color: white">Municipalités</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/ressources/">
        <i class="mdi mdi-comment-multiple-outline menu-icon" style="color: white"></i>
        <span class="menu-title" style="color: white">Ressources</span>
    </a>
</li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-lightbulb menu-icon" style="color: white"></i>
        <span class="menu-title" style="color: white">Solutions</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-calendar-multiple menu-icon" style="color: white"></i>
        <span class="menu-title" style="color: white">Evenements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-credit-card-multiple menu-icon" style="color: white"></i>
        <span class="menu-title" style="color: white">Dons</span>
      </a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/logout">
        <i class="mdi mdi-credit-card-multiple menu-icon" style="color: white"></i>
        <span class="menu-title" style="color: white">Signout</span>
      </a>
    </li>
  </ul>
</nav>