<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Free Stylish Login Page Website Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <div class="container-fluid ">
        <div class="container ">
            <div class="row cdvfdfd">
                <div class="col-lg-10 col-md-12 login-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 log-det">
                            <div class="small-logo">
                                <i class="fab fa-asymmetrik"></i> Style Login
                            </div>
                            <p class="dfmn">Avec Bledi, reclamer n'a jamais été plus simple ! </p>
                            
                            {% if error %}
                                <div class="alert alert-danger">{{ error.message }}</div>
                            {% endif %}
{% block body %}
                            <div class="text-box-cont">
                                <form method="post">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="CIN" aria-label="CIN" aria-describedby="basic-addon1" name="cin" required autofocus>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="password" required>
                                    </div>
                                    
                                    <div class="input-group center">
                                        <button class="btn btn-danger btn-round" type="submit">S'authentifier</button>
                                    </div> 
                                </form>
                                <div class="row">
                                    <p class="forget-p">pas de compte? <span>Inscrivez-vous</span></p>
                                </div>
                                 <div class="row">
                                    <p class="small-info">Connectez avec les medias sociaux:</p>
                                </div>   
                            </div>
                            {% endblock %}
                            <div class="row">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 box-de">
                           <div class="inn-cover">
                               <div class="ditk-inf">
                                   <div class="small-logo">
                                
                            </div>
                                    <h2 class="w-100">Vous n'avez pas de compte?</h2>
                                    <p>Bledi première plateforme 100% digital conçu principalement pour vous faciliter la vie et rendre votre ville meilleure.
                                     Pour créer votre compte cliquer seulement sur S'inscrire </p>
                                    <a href="#">
                                    <button type="button" class="btn btn-outline-light">S'inscrire</button>
                                    </a>
                                </div>
                                 
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>


</html>